body {
    font-family: Tahoma;
}

.recipes {
    display: flex;
    justify-content: space-evenly;
}


.recipe {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.picture {
    display: flex;
    gap: 30px;
}

.hero{
    display: flex;
    justify-content: flex-start;
}


.ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ingredlist {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 0px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.title {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 30px;
}

img {
    border-radius: 25px 25px 25px 25px;
}

a {
    font-size: 20px;
}

.stepslist {
    margin: 0;
    padding-left: 0px;
    margin-bottom: 30px;
}

.maintitle {
    text-align: center;
    padding-bottom: 30px;
}

.link {
    text-align: left;
    padding-top: 10px;
}